body {
    background-image: url(../images/prism.png);
    color: #777;
    margin: 0 auto 0 auto;
}

html, body{
    height: 100%;
    margin: 0;
}

header { background: #fff; }

header::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 30px;
  }

.container {
    width: 960px;
    margin: 0 auto;
}

nav { float: right; }

.name {
    background-color: #4aaaa5;
    width:200px;
    height: 70px;
    color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    float: left;
}

h2 { margin-top: 8px; }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li { 
    display: inline-block;
    margin-left: 30px;
    padding-top: 25px;
}

a {
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover { color: black }

.wrapper{
    background: #fff;
    width: 960px;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: -50px;
    padding-bottom: 20px;
}

.aboutMe { margin-bottom: 20px; }

.headingText::after {
    content: "";
    display: block;
    margin: 0 auto; 
    width: 95%;
    border-bottom: 1px solid rgb(165, 163, 163);
}

h1 {
    padding: 20px;
    margin: 0;
    color: #4aaaa5
}

#textBody {
    width: 960px;
    background-color: white;
}

img {
    width: 200px;
    height: 200px;
    float: left;
    padding: 0 20px 20px 30px;
}

body > .wrapper > .textBody > p { 
    font-size: 18px;
    max-width: 900px; 
    padding: 25px 25px 0 25px;
}

.empty { height: 50px; }

footer {
    background-color: #666666;
    text-align: center;
    border-top: solid 5px;
    border-color: #4aaaa5;
    color: rgb(199, 197, 197);
    height: 50px;
    width: 100%;
    margin-top: 30px
}

/* CSS for contact.html */
footer > p { margin-top: 25px}

.inputs { padding: 20px; }

input {
    margin-bottom: 20px;
}

#inputName {
    width: 100%;
}

#inputEmail {
    width: 100%;
}

#inputMessage {
    width: 100%;
    padding-bottom: 300px;
}

#buttonSubmit {
    background-color: #4aaaa5;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
}

/*CSS for Portfolio.html */
.wrapper::after {
    content: "";
    clear: both;
    display: table;
}

.imgContainer {
    width: 250px;
    height: 250px;
    margin: 40px 20px;
    position: absolute;
}

#HM {
    float: left;
    background-color: #4aaaa5;
    color: #777;
    position: relative;
}

#RPG  {
    float: left;
    background-color: #4aaaa5;
    color: #777;
    position: relative;
}

#TG {
    float: left;
    background-color: #4aaaa5;
    color: #777;
    position: relative;
}

#RIW {
    clear: both;
    float: left;
    background-color: #4aaaa5;
    color: #777;
    position: relative;

}#RPS {

    float: left;
    background-color: #4aaaa5;
    color: #777;
    position: relative;
}

